* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    place-content: center;
    min-height: 100dvh;
    user-select: none;
    background-color: #000;
    overflow: hidden;
}
main {
    background: url("./../img/iphone.png") no-repeat;
    background-size: contain;
    width: 320px;
    height: 640px;
    display: flex;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .3));
}

section {
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    overflow: hidden;
    border-radius: 32px;
    padding: 12px 6px;
    margin: 15px 16px;
    position: relative;
}

header {
    display: flex;
    justify-content: center;

    > h1 {
        font-size: 0.875em;
        line-height: 0.9em;
        color: #fff;
    }
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #2A2A2C;
    border-radius: 8px 8px 28px 28px;

    & > span {
        font-size: 12px;
        color: white;
        height: 100%;
        display: grid;
        place-content: center;
        text-align: center;
        line-height: 21px;
        scale: 0.9;
        transition: all .3s ease;

        &  a {
            color: #fefefe;
            text-decoration: none;
            opacity: 0.8;
            transition: all .3s ease;
        }

        & a:hover {
            color: rgb(255, 255, 45);
            font-weight: 600;
            opacity: 1;
            scale: 1;
        }
    }

    & article {
        position: absolute;
        height: 100%;
        overflow: hidden;
        border-radius: 8px 8px 28px 28px;
        cursor: grab;
        inset: 0;
        z-index: 2;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);

        & .options {
            position: relative;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            align-items: center;
            padding: 12px;
            gap: 12px;
            background: #2A2A2C;
        
            & button {
                position: relative;
                width: 100%;
                height: 32px;
                border-radius: 16px;
                padding: 4px 12px;
                border: 1px solid #717171;
                color: #fefefe;
                background-color: #2A2A2C;
                cursor: pointer;
                transition: scale .3s ease;
                scale: 0.9;
        
                &:hover {
                    color: #fff;
                    border-color: #fff;
                    scale: 0.95;
                }
            }
        }

        & .choice {
            position: absolute;
            top: 32px;
            right: 16px;
            padding: 4px 8px;
            z-index: 999;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            opacity: 0;
            width: fit-content;
            text-shadow: 0 0 10px rgba(0, 0, 0, .3);
            border-radius: 50%;
            vertical-align: middle;

            &.nope {
                background-color: rgb(255, 54, 54);
                transform: rotate(30deg);
            }
            &.like {
                background-color: rgb(62, 255, 62);
                transform: rotate(-30deg);
                left: 16px;

            }
        }

        &.go-left {
            transform: translateX(-150%) rotate(-30deg) !important;
        }
        &.go-right {
            transform: translateX(150%) rotate(30deg) !important;
        }
        &.go-left, &.go-right {
            transition: transform .3s ease, rotate .3s ease;
        }
        &.reset {
            transition: transform .3s ease;
            transform: translateX(0) !important;
        }

        & img{
            width: 100%;
            height: max-content;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

        & audio {
            width: 98%;
            padding: 0 12px;
            background: #2A2A2C;
        }

        & audio::-webkit-media-controls-panel {
            background-color: rgba(255, 255, 45, 0.8);
          }

        & h2 {
            width: 100%;
            height: max-content;
            padding: 8px 4px;
            font-size: 15px;
            z-index: 3;
            color: #fefefe;
            background: #2A2A2C;
            margin-top: -4px;
        }

        & span {
            margin-left: 6px;
            font-size: 12px;
            line-height: 1.4;
            font-weight: 400;
            color: #e8e8e8;
        }

    }
}

@media only screen and (max-width: 768px) {
    body {
        place-content: normal;
        padding: 1px;
    }
    main {
        background: #000;
        width: 100%;
        height: 100dvh;
    }
    h1 {
        display: none;
    }
    section {
        margin: 0 4px;
    }
    .options {
        grid-template-columns: repeat(4, 1fr);
        padding: 10px !important;
        gap: 10px !important;
    }
    .options button {
        font-size: 11px;
        height: 42px !important;
        border-radius: 12px !important;
    }
}